argh==0.26.2
distconfig==0.1.0
falcon==1.4.1
falcon-jinja2==0.0.2
future==0.17.1
greenlet==0.4.15
gunicorn==19.9.0
Jinja2==2.10
MarkupSafe==1.1.0
meinheld==0.6.1
pathlib==1.0.1
pathtools==0.1.2
python-mimeparse==1.6.0
pytoml==0.1.20
PyYAML==3.13
setproctitle==1.1.10
six==1.12.0
ujson==1.35
vyper-config==0.3.3
watchdog==0.9.0
